<h1>Tasks</h1>
<div *ngFor="let task of tasks" id="tasks">
   <div id="task" [ngClass]="{ bordered: task.priority }" [ngStyle]="{ 'background-color': getColor(task) }">
      <h2 id="name">{{ task.name }}</h2>
      <h3 id="className">{{ task.className }}</h3>
      <h4 id="type">{{ task.type }}</h4>
      <p id="dueDate">
         Due Date: {{ task.dueDate.getFullYear() }}-{{ task.dueDate.getMonth() + 1 }}-{{ task.dueDate.getUTCDate() }}
      </p>
      <a routerLink="/edit" routerLinkActive="active" ariaCurrentWhenActive="page">Link</a>
      <div id="progress" [ngStyle]="{ 'background-color': getProgress(task), color: getProgress(task) }"></div>
   </div>
</div>
<router-outlet></router-outlet>
<app-task (newTask)="addTask($event)"></app-task>
