h1 {
   font-family: Helvetica;
   position: relative;
   left: 5px;
}

h2 {
   left: 20px;
   position: relative;
   top: 15px;
   font-size: 35px;
   margin-bottom: 10px;
}

h3 {
   left: 20px;
   position: relative;
   font-size: 25px;
   font-weight: normal;
   margin-bottom: 10px;
}

#task {
   width: 50%;
   border-radius: 15px;
   font-family: Helvetica;
}

#progress {
   width: 60px;
   border-radius: 20px;
   height: 20px;
   position: relative;
   left: 88%;
   bottom: 10px;
}

#dueDate {
   position: relative;
   left: 20px;
}
