<a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Go Back</a>
<div id="input-container">
   <div id="input-content">
      <label for="task-name">Name:</label>
      <input type="text" id="task-name" value="{{ this.task.name }}" #editTaskName />
      <label for="task-class">Class:</label>
      <input type="text" id="task-class" value="{{ this.task.className }}" #editTaskClassName />
      <label for="task-due-date">Due Date:</label>
      <input type="date" id="task-due-date" value="{{ getDate() }}" #editTaskDueDate />
      <form>
         <label for="task-progress">Progress:</label>
         <select id="task-progress" name="progress" value="{{ this.task.progress }}" #editTaskProgress>
            <option value="0">Not Started</option>
            <option value="1">In Progress</option>
            <option value="2">Studying</option>
            <option value="3">Studied</option>
            <option value="4">Need to Submit</option>
            <option value="5">Done</option>
         </select>
      </form>
      <form>
         <label for="task-type">Type of Task:</label>
         <select id="task-type" name="type" value="{{ getType() }}" #editTaskType>
            <option value="assignment">Assignment</option>
            <option value="Test">Test</option>
            <option value="Exam">Exam</option>
            <option value="Project">Project</option>
            <option value="Presentation">Presentation</option>
            <option value="Lab">Lab</option>
         </select>
      </form>
      <label for="task-priority">Priority?</label>
      <input type="checkbox" id="task-priority" [attr.checked]="this.task.priority ? '' : null" #editTaskPriority />
      <button
         id="edit-task"
         type="button"
         (click)="
            editTask(
               editTaskName.value,
               editTaskClassName.value,
               editTaskDueDate.value,
               editTaskProgress.value,
               editTaskPriority.checked,
               editTaskType.value
            )
         "
      >
         Edit Task
      </button>
   </div>
</div>
