<div id="input-container">
   <div id="input-content">
      <label for="task-name">Name:</label>
      <input type="text" id="task-name" #newTaskName />
      <label for="task-class">Class:</label>
      <input type="text" id="task-class" #newTaskClassName />
      <label for="task-due-date">Due Date:</label>
      <input type="date" id="task-due-date" #newTaskDueDate />
      <form>
         <label for="task-progress">Progress:</label>
         <select id="task-progress" name="progress" #newTaskProgress>
            <option value="0">Not Started</option>
            <option value="1">In Progress</option>
            <option value="2">Studying</option>
            <option value="3">Studied</option>
            <option value="4">Need to Submit</option>
            <option value="5">Done</option>
         </select>
      </form>
      <form>
         <label for="task-type">Type of Task:</label>
         <select id="task-type" name="type" #newTaskType>
            <option value="assignment">Assignment</option>
            <option value="Test">Test</option>
            <option value="Exam">Exam</option>
            <option value="Project">Project</option>
            <option value="Presentation">Presentation</option>
            <option value="Lab">Lab</option>
         </select>
      </form>
      <label for="task-priority">Priority?</label>
      <input type="checkbox" id="task-priority" #newTaskPriority />
      <button
         id="add-task"
         type="button"
         (click)="
            addNewTask(
               newTaskName.value,
               newTaskClassName.value,
               newTaskDueDate.value,
               newTaskProgress.value,
               newTaskPriority.checked,
               newTaskType.value
            )
         "
      >
         Add Task
      </button>
   </div>
</div>
