<div id="input-container">
   <div id="input-content">
      <form >
         <label for="task-name">Name:</label>
         <input type="text" id="task-name" #newTaskName required />
         <label for="task-class">Class:</label>
         <input type="text" id="task-class" #newTaskClassName required />
         <label for="task-due-date">Due Date:</label>
         <input type="date" id="task-due-date" #newTaskDueDate required />
         <form>
            <label for="task-progress">Progress:</label>
            <select id="task-progress" name="progress" #newTaskProgress>
               <option value="0">Not Started</option>
               <option value="1">In Progress</option>
               <option value="2">Studying</option>
               <option value="3">Studied</option>
               <option value="4">Need to Submit</option>
               <option value="5">Done</option>
            </select>
         </form>
         <button id="add-task" type="submit"
            (click)="addNewTask(newTaskName.value, newTaskClassName.value, newTaskDueDate.value, newTaskProgress.value)">
            Add Task
         </button>
      </form>
   </div>
</div>